@import url("https://fonts.googleapis.com/css2?family=Roboto+Condense:300,400,500,600,700,800,900&display=swap");
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto Condensed", sans-serif;
}
body {
  background-color: #000000;
}

.text {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  max-width: 400px;
}

.hmain{
  color: #ffffff;
  font-size: 45px;
  text-align: center;
  margin-left: 900%;
}

.title{
  text-align: center;
}

.info {
  text-decoration: none;
  color: #bfbfbf;
  transition: 0.5s;
}

.info:hover {
  font-size: 17px;
  color: #ffffff;
}

.label span {
	color: #00ff00;
}

.container1 {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 0px 0px 20px #00000010;
	background-color: #E1E1E1;
	border-radius: 8px;
	margin-bottom: 20px;
}

.submit {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  height: 50px;
  border-radius: 50px;
}

.submit:hover {
  font-size: 18px;
  background: #ffffff;
  color: #000000;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  margin-bottom: 10px;
  transition: all 0.2s ease 0.2s;
  cursor: pointer;
}

.section1 {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column; 
}

.form-group {
	width: 100%;
	margin-top: 20px;
	font-size: 20px;
}

.form-group input,
.form-group textarea {
	width: 100%;
	padding: 5px;
	font-size: 	18px;
	border: 1px solid rgba(128, 128, 128, 0.199);
	margin-top: 5px;
	resize: vertical;
	border-radius: 10px;
}

.textarea {
	resize: vertical;
}

.submit {
	width: 100%;
    border: 1px solid #00001a;
    color: #00001a;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
	border-radius: 10px;
	transition-duration: 0.4s;
	cursor: pointer;
	text-align: center;
	margin-top: 10px;
}

.submit:hover {
  background-color: #00001a;
  color: white;
}

#status{
  width: 90%;
  max-width: 500px;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 10px;
}

#status.success{
	background-color: rgb(211, 250, 153)
}

.text-centered {
  font-size: 70px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

.thanks {
  font-size: 60px;
  text-align: center;
  padding: 20px;
  color: #ffffff;
}

.topnav {
  position: relative;
  background-color: #00001a;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1)
}

.topnav a {
  float: center;
  color: #FFFFFF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
}
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #ffffff;
  border-radius: 0px;
}
 .topnav a.active:hover {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #ffffff;
 }

.odkaz {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #ffffff;	
  box-shadow: inset 0 0 0 0 #FFFFFF;
  width: 50%;
  transition: ease-out 0.5s;
  outline: none;
}

.odkaz:hover {
  box-shadow: inset 400px 0 0 0 #FFFFFF;
  top: -4px;
  color: #000000;
  cursor: pointer;
}

.odkaz3 {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  width: 50%;
  position: relative;
  z-index: 1;
}

.odkaz3:hover {
  color: #000000;
  cursor: pointer;
  border-radius: 50px;
}

.odkaz3:before {
  transition: 0.3s all ease;
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  bottom: 0;
  opacity: 0;
  content :"";
  background-color: #FFFFFF;
  border-radius: 50px;
}

.odkaz3:hover:before {
	transition: 0.3 all ease;
	left: 0;
	right: 0;
	opacity: 1;
	z-index: -1;
}

.line {
	width: 100%;
  height: 100%;
	border-bottom: 2px solid rgb(255, 255, 255);
}

.aboutcss {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 auto;
  padding: 20px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
  width: 50%;
}

.aboutcss:hover {
  text-align: center;
  color: #000000;
  border: 3px solid #000000;
  background: #ffffff;
}

.odkaz2 {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
}

.odkaz2:hover {
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.back {
  color: #bfbfbf;
  text-decoration: none;
  margin: 0 auto;
  text-align: center;
  font-size: 25px;
  transition: 0.5s;
}

.back:hover {
  text-align: center;
  color: #ffffff;
  text-align: center;
}

.impact-small {
  text-align: center;
  color: #ffffff;
  font-size: 30px;
}

.clanek {
  border: 2px solid #000000;
  border-radius: 20px;
}

.oddelovak-maly {
  border: 25px solid #000000;
}

.oddelovak-velky {
  border: 2px solid #000000;
  opacity: 0%;
}
.oddelovak-super {
  border: 125px solid #000000;
}
.oddelovak-velky-velky {
  border: 25px solid #000000;
}
.navigation {
  text-align: center;
}

.navigation-active {
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  width: 30%;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50px;
}

.footer {
  font-size: 12px;
  color: #bfbfbf;
  text-align: center;
}

nav{
	position: relative;
	margin: 10px auto 0;
	width: 420px;
	height: 50px;
	border-radius: 8px;
	font-size: 0;
	box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
nav a{
	font-size: 15px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	line-height: 50px;
	position: relative;
	z-index: 1;
	display: inline-block;
	text-align: center;
}
nav .animation{
	position: absolute;
  text-transform: uppercase;
	height: 5px;
	bottom: 0;
	z-index: 0;
	color: #E1E1E1;
	background: #000000;
	border-radius: 8px;
	transition: all .5s ease 0s;
}
nav a:nth-child(1){
	width: 100px;
}
nav .start-home, a:nth-child(1):hover~.animation{
	width: 100px;
	left: 0px;
}
nav a:nth-child(2):hover~.animation{
  background: #ffffff;
	width: 100px;
	left: 0px;
}
nav a:nth-child(2){
	width: 100px;
}
nav a:nth-child(3):hover~.animation{
  background: #ffffff;
	width: 100px;
	left: 100px;
}
nav a:nth-child(3){
	width: 100px;
}
nav a:nth-child(4):hover~.animation{
  background: #ffffff;
	width: 100px;	
	left: 200px;
}
nav a:nth-child(4){
	width: 150px;
}
nav a:nth-child(5):hover~.animation{
  background: #ffffff;
	width: 100px;
	left: 300px;
}

.card {
  display: grid;
  grid-template-areas: "text" "image" "stats";
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  background-image: url("back1.png");
  height: 375px;
  width: 528px;
  background-size: 100% 100%;
  align-items: center;
  transition: 0.5s ease;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin: auto;
}

.card1 {
  display: grid;
  grid-template-areas: "text" "image" "stats";
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  background-image: url("back2.png");
  height: 375px;
  width: 528px;
  background-size: 100% 100%;
  align-items: center;
  transition: 0.5s ease;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin: auto;
}
.card2 {
  display: grid;
  grid-template-areas: "text" "image" "stats";
  border-radius: 25px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  font-family: roboto;
  background-image: url("back3.png");
  height: 375px;
  width: 528px;
  background-size: 100% 100%;
  align-items: center;
  transition: 0.5s ease;
  border: 2px solid #ffffff;
  cursor: pointer;
  margin: auto;
}

.card-image {
  grid-area: image;
  background-image: url("back1.png");
  height: 175px;
  width: 350px;
  opacity: 0%;
}
.card-text d {
  color: rgb(255, 7, 110);
  text-align: center;
  align-content: center;
  font-size:13px;
  margin-top: 0px;
}
.card-text p {
  color: white;
  text-align: center;
  font-size:15px;
  font-weight: 300;
  width: 350px;
}

.card-text m {
  text-align: center;
  align-items: center;
  align-content: center;
  width: 342px;
  height: 150px;
  font-family: monospace;
  margin-top: 0px;
  margin-bottom: 50px;
  font-size:30px;
}
.card-text {
  margin-top: -25px;
  text-align: center;
  color: #000000;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  background-color: #ffffff;
  opacity: 60%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  align-items: center;
  align-content: center;
}
.card-stats {
  grid-area: stats;
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 200px:
}
.stat {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  text-decoration: none;
  color: #ffffff;
  bottom: 0px;
  background: #000000;
  width: 175px;
  margin-left: 175px;
  margin-bottom: 5px;
  border: 2px solid #ffffff;
  height: 35px;
  transition: 0.2s;
  border-radius: 18px;
}

.stat:after {
  content: "SEE";
  transition: 0.2s;
  padding-bottom: 2px;
}

.stat:hover {
  font-size: 18px;
  background: #ffffff;
  color: #000000;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
  margin-bottom: 10px;
  padding-bottom: 2px;
  transition: all 0.2s ease 0.2s;
  cursor: pointer;
}

.stat:hover:after {
  overflow: visible;
  white-space: nowrap;
  content: "  SEE ￫";
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card1:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}
.card2:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.paralax {
  background-image: url("back1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: scroll;
  min-height: 250px;
  margin: auto;
}
.container2 {
	width: 90%;
	max-width: 500px;
	background: #000000;
	margin: 0 auto;
	text-align: center;
	font-size: 15px;
	padding: 25px;
}

.backimage {
  background-image: url(back-main.png);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  width: 100%;
  height: 650px;
}

.logo {
  background-image: url(pixelpot.ico);
  background-position: center center;
  background-repeat: none;
  background-size: cover;
  width: 20%;
  margin-left: 10px;
  max-height: 70px;
  max-width: 70px;
  height: 50px;
}

@media screen and (max-width:700px){
  .card {
    display: grid;
    grid-template-areas: "text" "image" "stats";
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    background-image: url("back1.png");
    height: 250px;
    width: 352px;
    background-size: 100% 100%;
    align-items: center;
    transition: 0.5s ease;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin: auto;
  }
  
  .card1 {
    display: grid;
    grid-template-areas: "text" "image" "stats";
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    background-image: url("back2.png");
    height: 250px;
    width: 352px;
    background-size: 100% 100%;
    align-items: center;
    transition: 0.5s ease;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin: auto;
  }
  .card2 {
    display: grid;
    grid-template-areas: "text" "image" "stats";
    border-radius: 18px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    background-image: url("back3.png");
    height: 250px;
    width: 352px;
    background-size: 100% 100%;
    align-items: center;
    transition: 0.5s ease;
    border: 2px solid #ffffff;
    cursor: pointer;
    margin: auto;
  }
  
  .card-image {
    grid-area: image;
    background-image: url("back1.png");
    height: 175px;
    width: 350px;
    opacity: 0%;
  }
  .card-text d {
    color: rgb(255, 7, 110);
    text-align: center;
    align-content: center;
    font-size:13px;
    margin-top: 0px;
  }
  .card-text p {
    color: white;
    text-align: center;
    font-size:15px;
    font-weight: 300;
    width: 350px;
  }
  
  .card-text m {
    margin-top:10px;
    text-align: center;
    align-items: center;
    align-content: center;
    width: 342px;
    height: 100px;
    font-family: monospace;
    margin-top: 0px;
    font-size:28px;
  }
  .card-text {
    margin-top:0px;
    text-align: center;
    color: #000000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    background-color: #ffffff;
    opacity: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
    align-content: center;
  }
  .card-stats {
    grid-area: stats;
    display: flex;
    align-items: center;
    text-align: center;
    align-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 200px:
  }
  .stat {
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    color: black;
    text-decoration: none;
    color: #ffffff;
    bottom: 0px;
    background: #000000;
    width: 150px;
    margin-left: 100px;
    margin-bottom: 5px;
    border: 2px solid #ffffff;
    height: 30px;
    transition: 0.2s;
    border-radius: 18px;
  }
  
  .stat:after {
    content: "SEE";
    transition: 0.2s;
    padding-bottom: 2px;
  }
  
  .stat:hover {
    font-size: 18px;
    background: #ffffff;
    color: #000000;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    margin-bottom: 10px;
    padding-bottom: 2px;
    transition: all 0.2s ease 0.2s;
    cursor: pointer;
  }
  
  .stat:hover:after {
    overflow: visible;
    white-space: nowrap;
    content: "  SEE ￫";
    transition: 0.2s;
  }
  
  .card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card1:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .card2:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }
  .hmain{
    color: #ffffff;
    font-size: 45px;
    text-align: center;
    margin-left: 180%;
  }
  .backimage {
    background-image: url(back-main.png);
    background-position: center center;
    background-repeat: none;
    background-size: cover;
    width: 100%;
    height: 550px;
  }
}